{{>header}}

<h1>hey</h1>

<form>
    <input placeholder="location">
    <button>search</button>
</form>

<p id="message-1"></p>

<p id="message-2"></p>

<script src="/js/app.js"></script>

{{>footer}}